 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <p>Old People Soccer is a casual coed pickup soccer game in Falls Church. It is pretty low-key, and open to anyone. We try to play each weekend. It's a great way to have fun and get some exercise.
                    </p>
                </div>
                <div class="col-md-4">
                    <p>The participants are from the Falls Church area, about 35-50 years old, mostly parents (some of the kids play too). The attitude is casual - we don't generally keep score, aiming to avoid injury rather than win.</p>
                </div>
            </div>
        </div>
    </section>