<!-- Signup Section -->
<section id="signup" class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sign Up!</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>We coordinate games via a Google Group email list. Approximately Wednesday, we send out a poll to see what times work best. Then we send a game announcement, typically Saturday or Sunday morning, sometimes afternoons.</p>
            </div>
            <div class="col-md-12 text-center">
                <a class="btn btn-primary btn-lg" href="https://groups.google.com/forum/#!forum/old-people-soccer" target="_blank">Join the Google Group</a>
            </div>
            
        </div>
    </div>
</section>